[2019-11-21 06:33] sebastian-xyz opened #2 "Analytics"
Add an analytics ID to the config file

[2019-11-21 17:39] jonathandturner commented on #2
Added

[2019-11-21 17:39] #2 closed

[2019-11-21 17:44] jonathandturner opened #3 "Colors need better contrast for accessibility"
We should do a pass over the site with something like https://chrome.google.com/webstore/detail/wcag-color-contrast-check/plnahcmalebffmaghcpcmpaciebdhgdf?hl=en and update the colors to have better contrast. I did a quick one and noticed a few aren't quite high enough for clear readability.

[2019-11-22 18:21] sebastian-xyz commented on #3
Should we close this one too?

[2019-11-22 21:43] jonathandturner commented on #3
Yes, we should be good

[2019-11-22 21:43] #3 closed

[2019-11-22 21:43] jonathandturner commented on #3
by the way, I did end up making the font just slightly bigger. I think it helps with readability (for me at least)

[2019-11-22 22:04] jonathandturner opened #5 "Link to github for website"
I was thinking we might want to link to this github from the bottom of pages in case people have things they want to change or suggest.

[2019-11-22 22:35] sebastian-xyz commented on #5
Good idea
I'll implement it for both sites

[2019-11-24 07:40] jonathandturner commented on #5
the main site one looks good

[2019-11-27 11:04] Aloso opened #7 "More infos in README"
It would be great if the README contained a brief explanation of

- what this repo is
- how to build it
- which license is used

[2019-11-27 11:05] Aloso commented on #7
P.S. I'm opening this issue because I ran into several issues while figuring out how to build it. I eventually figured it out, though.

[2019-11-27 13:49] Aloso opened #8 "Layout improvements"
I'd like to improve the page layout and am opening this issue to discuss the proposed changes.

### Page size

- Increase the width of the website from `650px` to `900px` and
- Increase the font size from `16px` to `18px`

### Navigation

- Center the text vertically
- Remove the (almost invisible) border
- Increase the font size and horizontal padding of the right button
- Make the button color l

[2019-11-27 17:47] #8 closed

[2019-11-27 18:49] sophiajt opened #11 "Better tables in examples"
I noticed some people talking about how tables looked in different browsers on Reddit, and then when I checked nushell.sh I noticed a similar thing.  Here's what I see in Firefox+Windows:

![image](https://user-images.githubusercontent.com/547158/69751233-8b2cab00-11b3-11ea-8741-49e46030525a.png)

I wonder if there's a way to either render this the same across browsers, or if maybe we should just

[2019-11-27 18:50] jonathandturner commented on #11
Even fancier: like the scripts we use to create the examples, maybe there's a way to script creating those images (if we end up using images)

[2019-11-27 19:14] Aloso commented on #7
Thanks!

[2019-11-27 19:14] #7 closed

[2019-11-27 19:16] Aloso commented on #11
I guess a monospaced webfont which includes the box-drawing characters would work.

[2019-11-27 23:21] Aloso commented on #11
My favourite monospace fonts are [Source Code Pro](https://fonts.google.com/specimen/Source+Code+Pro) and [Fira Code](https://fonts.google.com/specimen/Fira+Code).

Source Code Pro:

![Source](https://user-images.githubusercontent.com/15658558/69765538-9ad8cf00-1174-11ea-9971-6a5969a3e8d5.png)

Fira Code:

![Fira](https://user-images.githubusercontent.com/15658558/69765539-9d3b2900-1174-11ea-857f-

[2019-11-28 00:17] jonathandturner commented on #11
@Aloso - if you include the font, does it work across browsers/platforms?

I assume so, but figured I'd ask just to be sure

[2019-11-28 00:17] jonathandturner commented on #11
I do like that Fira Code one, too :)

[2019-11-28 00:52] Aloso commented on #11
The line is only that way because I zoomed before taking the screenshot :D

[2019-11-28 06:09] jonathandturner commented on #11
@Aloso sounds good

[2019-11-28 17:12] Aloso commented on #11
@jonathandturner I tried this on my phone. To my surprise using one of these fonts doesn't fix the issue. It might be related to the OS' font stack.

Anyway, I found a workaround, which, unfortunately involves some JS and generates a `<u>` element for each horizontal line character (`━`, `─`).

[2019-11-29 04:29] jonathandturner opened #15 "Table does quite line up on mobile"
cc @Aloso who was working to improve this.

Looks like tables are a bit better, but not *quite* lined up, at least on my Samsung Galaxy S10.

Here's what it looks like for me:

![Screenshot_20191129-172703_Chrome](https://user-images.githubusercontent.com/547158/69843747-c28f7a80-12cd-11ea-934c-3d440ff09398.jpg)

[2019-11-29 11:10] waldyrious commented on #15
Please refer to [this discussion](https://github.com/nushell/nushell.github.io/pull/13#discussion_r351905071) which has some context already.

[2019-11-29 17:38] jonathandturner commented on #15
Are we ready to close this?

[2019-11-29 18:06] Aloso commented on #15
@jonathandturner yes :+1:

[2019-11-29 18:21] #15 closed

[2019-11-29 18:22] #5 closed

[2019-12-07 07:43] jonathandturner opened #22 "Move the books onto nushell.sh?"
Right now we're publishing the Nu book through gitbooks, but we could look into publishing it differently, and also pull in the contributor book and cookbook.

[2019-12-10 06:54] sebastian-xyz commented on #22
If we want to build the books using Jekyll, we could use [jekyll-gitbook](https://github.com/sighingnow/jekyll-gitbook) as our base and adpat it to fit the other designs.

[2019-12-10 18:48] jonathandturner commented on #22
Sounds good. We could try it on one repo and see how it goes

[2020-01-03 15:08] yoshuawuyts opened #24 "feedback: cmd+f "install" on homepage comes up empty"
Going to https://www.nushell.sh/ and searching for "install" came up empty. The top nav bar also doesn't include a link to "download". It's only now that after opening up this issue that I'm seeing the "get" link.

I think I was thrown off by the big green "blog" button, which feels like the main call to action in the navigation menu but didn't point me to what I wanted.

The reason why I'm bringi

[2020-01-08 00:40] iKadmium opened #25 "cd'ing to a directory with dots in it can cause a parse error in Windows"
This happens if there's a backslash at the end of the directory (as is included by tab autocomplete).

Steps to replicate:
* Navigate to a directory where you have write permissions
* `mkdir Thing.Stuff`
* `cd Thing.Stuff\` (note the backslash at the end)

This can be worked around by removing the backslash at the end, but that also creates the issue that if you wanted to cd to `Thing.Stuff\Misc`,

[2020-01-08 00:41] #25 closed

[2020-01-08 00:42] iKadmium commented on #25
Sorry, guys, I mistakenly made a bug report for the shell on the website's project :(.

[2020-01-08 18:00] sebastian-xyz commented on #24
These are 2 ideas I came up with
1) This one expands a little popup menu containing the other links when '⌄' is clicked
![Nushell_navbar_new](https://user-images.githubusercontent.com/52786998/72002683-2e0f2500-3248-11ea-8b69-2c6a1413f54e.png)
![Nushell_navbar_new_exp](https://user-images.githubusercontent.com/52786998/72002684-2ea7bb80-3248-11ea-9d61-d88bd267ab54.png)

2) This one is more like th

[2020-01-08 22:31] jonathandturner commented on #24
One option might be to have the "Download Nushell" button, and not to have an Install or Get and keep the headers we have now. Would that work?

I think having it on the button makes it feel more like a call to action.

[2020-01-08 22:33] jonathandturner commented on #24
I also wonder if we should have a block of "how to install" on the main page towards the top. We could put it in a separate color so it's easier to notice.

Sites like http://www.typescriptlang.org/ have both the Download button and a section of how to install it a little later on the main page. Maybe we could do something like that?

[2020-01-09 00:52] yoshuawuyts commented on #24
I like the idea of having a clear call to action to "install/download" right at the top, and then a more elaborate section somewhere else on the page. I think typescript nails the priorities in that regard, as people visiting the page will likely want to do one of 3 things:

- find out what the project is about
- install the project
- figure out how to do a particular thing (which usually means re

[2020-01-09 17:03] sebastian-xyz commented on #24
Yes it that worked. I had to reduce the font size on mobile devices by 1px. But I think that didn't reduce the readability that much.

![Nushell_navbar_new](https://user-images.githubusercontent.com/52786998/72087602-059b2f80-3309-11ea-86be-0c017319abe5.png)

How it looks on mobiles:
![Nushell_navbar_new_mobile](https://user-images.githubusercontent.com/52786998/72087613-0c29a700-3309-11ea-9b6a-45

[2020-01-09 17:14] sebastian-xyz commented on #24
That seems like a nice thing to add.

Maybe with that section added we should delete the Installation page on the website so we don't have to keep 3 different guides to install Nu up to date.

Or we could use links like https://www.nushell.sh/installation.html#installing-from-cratesio to refer to the correct section on the Installation page.

[2020-01-09 17:36] jonathandturner commented on #11
As @sebastian-xyz points out, our recent fix to get the font rendering issue (dark-on-dark rendering) fixed, we had to unfix this issue.

We should explore a better solution here.

[2020-01-09 17:43] #22 closed

[2020-01-09 18:00] jonathandturner commented on #11
@sebastian-xyz - one thing we could do is instead of relying on the monospaced font, we could draw the tables either using markdown tables (or maybe html tables?) or rendering them to images and using those

[2020-01-09 18:13] jonathandturner commented on #11
Also strange (but hopeful): the github renderer for markdown looks fine in Firefox on Windows, if we don't us the `shell` mode for code snippets:

![image](https://user-images.githubusercontent.com/547158/72093071-952bf700-3378-11ea-89c4-17ec1c4ca0d0.png)

Maybe we can switch to using what they're using?

[2020-01-09 19:07] jonathandturner commented on #11
Seems like the easiest fix is just to move the table drawing to use the same top and bottom line as the interior line.

The bold line was very subtle to begin with, and I don't think it's really worth keeping if it causes rendering issues across platforms.

[2020-01-09 19:23] sebastian-xyz commented on #11
I started some research on the different markdown processors on the [jekyll website](https://jekyllrb.com/docs/configuration/markdown/) and played around with some of the processors. But I didn't have much success until now.

This is how the table looks like with the thin lines
![thin_lines](https://user-images.githubusercontent.com/52786998/72097525-dc849a00-331c-11ea-971a-30476851b004.png)

The

[2020-01-09 19:31] jonathandturner commented on #11
Yeah, let's just convert to thin lines, then.  I've updated a few of the pages just to be sure it will work.

I'll also add a PR to update the actual table drawing to use thin lines too. I figure, we might as well :)

[2020-01-09 20:05] homburg commented on #11
Thin lines still needs some css to render width "monospace width" in chrome on macOS. You can use the default macOS terminal font, with fallback to monospace:

`font-family: monospace;`
<img width="833" alt="Screenshot 2020-01-09 at 20 38 46" src="https://user-images.githubusercontent.com/235886/72100655-5029a580-3323-11ea-8927-0e51ef0cfb74.png">

`font-family: Menlo, monospace;`
<img width="841"

[2020-01-09 20:13] sebastian-xyz commented on #11
@homburg - Does this font work across platforms and browsers?

[2020-01-09 20:17] homburg commented on #11
I think Menlo is only installed by default on macOS, but other platforms will fall back to the "monospace" definition.

[2020-01-09 20:34] jonathandturner commented on #11
@homburg - our previous fix was something like this, where it should fallback between fonts. Unfortunately, we had to remove the fix because it rendered dark text on dark backgrounds for some versions of Firefox.

[2020-01-09 20:40] Aloso commented on #11
Which versions are you referring to?

I'm sure this can be fixed, either by adjusting some CSS or by using `font-feature-settings`.

[2020-01-09 20:40] sebastian-xyz commented on #11
I tested this with `font-family: Menlo,Consolas,monospace` on windows since Consolas is the default terminal font there. This looked pretty good.

I think the fall back might work this time because the fonts don't need to be added to the source of the website because they are part of the system.

[2020-01-09 20:45] sebastian-xyz commented on #11
This was the example in the discord discussion a few days back:

<img width="938" alt="unknown" src="https://user-images.githubusercontent.com/52786998/72103302-37bc8980-3329-11ea-8b13-398323eb7480.png">

[2020-01-09 21:32] Aloso commented on #11
I found the discussion on Discord. Here's what I don't understand:

- the web font (which fixes this issue) was disabled to fix another bug
- that bug is neither confirmed, nor can be reproduced
- we don't know what caused that bug
- we don't know if disabling the web font fixed that bug
- we don't know anything about that bug, except that it appeared in Firefox.

@jonathandturner @sebastian-xyz

[2020-01-09 22:19] Aloso commented on #11
If a web font is not an option, we need to list monospaced fonts that are available on common operating systems and support box drawing characters. This could work:

[code]

[2020-01-09 23:19] jonathandturner commented on #11
Let's give it a try and see if it fixes the issue for people

[2020-01-26 22:19] nespera opened #29 "Cargo flags on installation page are wrong"
On the installation page it says to run `cargo install nu --all --features=stable` for an "all bells and whistles" install. But it seems there is no `--all` flag in cargo. I'm new to Rust so not sure if this should be `--all-features` or `--features=stable` which both seem valid.
EDIT: I have copied the installation instructions from the book

[2020-01-29 07:58] pavelbinar opened #32 "error: Found argument '--all' - Documentation update"
Tried to install the latest `0.9.0 Release` according to the documentation https://www.nushell.sh/installation.html but got an error:

[code]

Command `cargo install nu --all-features --features=stable` works fine.

Please update the documentation page.

[2020-01-29 10:45] waldyrious commented on #32
There's a PR already in progress for this: #33.

[2020-01-29 13:30] #29 closed

[2020-01-29 16:13] waldyrious commented on #32
@jonathandturner can this be closed? #33 has been merged. :)

[2020-01-29 16:18] waldyrious commented on #29
[The book](https://www.nushell.sh/book/en/installation.html) still needs to be fixed, btw — the [installation page](https://github.com/nushell/book/blob/master/en/installation.md) still contains the outdated instructions.

@sebastian-xyz why isn't there a link to the book from the main website? I'd expect it to be in the menu at the top, for example.

[2020-01-29 16:44] sebastian-xyz commented on #29
@waldyrious Yes we should definitely put it in a more visible place than in the documentation section. I would like to update the main page but I've pretty limited time at the moment. I hope I can get into this by next week. We discussed in #24 some things we want to improve. In addition to those improvements we could also make a small section about the book so people can find it easily.

[2020-01-29 18:05] jonathandturner commented on #32
@waldyrious - great! I'll go ahead and close

[2020-01-29 18:05] #32 closed

[2020-02-09 17:25] thegedge opened #37 "Have installation instructions on the front page"
I think having installation instructions directly on the front page would be ideal. Every extra step to do something often lowers conversion.

[2020-02-12 06:04] biocomp opened #38 "Publish binaries via Chocolatey too"
It's a package manager for windows, which I like to use to install apps: https://chocolatey.org. Unfortunately, I have never published something there myself, so don't know how to do that.

[2020-02-13 15:13] sebastian-xyz commented on #37
@thegedge I like the idea but I wonder how we should implement this. If we add all the possible ways to install nu we will end up with a huge page and people probably won't find the things they are looking for.

[2020-02-13 16:23] thegedge commented on #37
I'm thinking one of two approaches:

1. Try to guess the operating system and offer options specifically for that.
2. Have all the options in some kind of tabbed view.

I think (1) is pretty common these days. Either way, it should always be clear how to get to the extensive installation instructions in case nothing works. We definitely do not want anyone feeling like they're at a dead end with no

[2020-02-27 18:56] notryanb opened #40 "Contributors book should link to the book and not git repo."
[Contributors Page](https://www.nushell.sh/contribute.html) has a link to the contributors book git repo instead of the book itself.

[2020-02-28 06:40] sebastian-xyz commented on #40
Thanks :)

[2020-02-28 06:40] #40 closed

[2020-02-28 10:22] waldyrious commented on #40
For future reference, the fix was done in 5835dae9b.

[2020-04-19 19:50] brettcannon opened #46 "Support the naked domain name"
When I type `nushell.sh` (at  least in Firefox on macOS Catalina), the page seems to end up sitting there waiting for a response. But if I type `www.nushell.sh` I get an instant response. My guess  is the DNS records for `nushell.sh` weren't set up for  a naked domain to either forward to `www` or to serve the same response as `www`.

[2020-04-19 20:04] jonathandturner commented on #46
I'm on Firefox 75.0 in Windows, and `nushell.sh` redirects to `https://www.nushell.sh/`.  I wonder if it's a macOS or Firefox version-specific thing. What version of Firefox are you using?

[2020-04-20 09:57] waldyrious commented on #46
FWIW, `nushell.sh` works for me in Firefox 75.0 on macOS Catalina.

[2020-04-20 19:17] brettcannon commented on #46
I will assume it was some weird glitch on my machine or my DNS resolver. Sorry about the noise, everyone!

[2020-04-20 19:17] #46 closed

[2020-05-17 19:36] thegedge opened #49 "Landing page refresh"
nushell is gaining momentum, and I think it's time for our landing page to get a refresh. Let's modernize it, highlighting nushell's great features, and just making nushell really shine 🌟

Some ideas:
- Modern layout (less mouse interaction, more vertical scrolling)
- Highlight key features in an image/text side by side layout. For example:
![slack screen shot](https://user-images.githubuserconten

[2020-05-17 19:45] jonathandturner commented on #49
Some great ideas there.

I like the links you mention. Taking a look at them, the pages feel very clean and clear, so that you want to keep learning more.

CC @sebastian-xyz who did our original page.

[2020-05-17 19:50] jonathandturner commented on #49
Here's the starship landing paged, too:

![image](https://user-images.githubusercontent.com/547158/82158475-3e14d080-98dc-11ea-8517-ba9fdc8f9913.png)

Just thought I'd put it here to help generate ideas

[2020-05-17 19:53] thegedge commented on #49
Yeah, that's a good inspiration. I would love an end result that is clean, and streamlined for vertical navigation.

[2020-05-17 20:12] sebastian-xyz commented on #49
I totally agree. The current design isn't that intuitive.
I think a good way to move forward could be to create a new channel in our discord so we can include more people in the discussion for the new design.

[2020-05-17 20:13] jonathandturner commented on #49
Sounds great. I'll do that.

[2020-05-17 20:14] jonathandturner commented on #49
I've added #new-website-design on [discord](https://discord.gg/NtAbbGn)

[2020-09-06 17:19] mrec opened #60 "`from csv` doc shows wrong output for `--headerless`"
https://www.nushell.sh/commands/from-csv.html

I'd expect `--headerless` to mean "there's no header row, treat the first row as data". Testing in the web demo supports that expectation. In the sample output shown on the doc page, though, it's not only discarded the first (header) row completely, but also discarded the first data row too.

[2020-09-07 13:04] cathalgarvey opened #61 "CORS preventing JQuery from loading, quick-docs fail to work"
As in title: I'm getting an error where CORS blocks JQuery so I can't browse the quick reference docs for the built-in commands. :/

[2020-09-07 13:28] jzaefferer commented on #61
@cathalgarvey could you provide a screenshot or the exact error message? From DevTools console or network tab? A bit more detail would help a lot.

[2020-09-07 20:47] jzaefferer commented on #61
Maybe related: https://www.nushell.sh/demo/ fails to load for me in Firefox, since it blocks Sentry from loading. Which causes the whole demo to fail, and the error isn't tracked.

In my case, the blocking is caused by a browser extension, uBlock origin. Without it, the demo works fine.

[2020-09-08 09:46] cathalgarvey commented on #61
Sorry, missed the first request for info. I collected screenshots of the network and console panes which show that it's been blocked for CORS reasons, and the subsequent errors because `$` is not defined.

I'm also using self-defence extensions including uMatrix, but I've already allowlisted JQuery in that plugin and checked the others for issues. The error messages appear to make it clear that it

[2020-11-02 02:43] jamiedgh opened #63 "Asking Windows users to download Visual Studio Community Edition is inappropriate"
From [https://www.nushell.sh/book/en/installation.html](https://www.nushell.sh/book/en/installation.html):

Keep in mind that Visual Studio Community Edition with just the C++ build tools (unless I'm doing it incorrectly) is a **10.4 GB** installation! I'll stick with Vim, thanks.

Since I used scoop.sh to install nu, I already have gcc installed. I'll see if I can just stick with that, but I woul

[2020-11-17 09:02] jonathandturner commented on #63
@JamieGhassibi - It may just be better to point people to the official Rust instructions rather than coming up with our own as gcc also isn't an option for some users. We'd end up duplicating what they have.

[2020-11-18 06:18] mhmdanas commented on #38
This repo is for Nu's website; it is not the place for requests for Nu itself. Can somebody transfer this issue to https://github.com/nushell/nushell if it isn't already there?

[2020-11-22 07:37] Havvy opened #68 "Blog Desc for 0.22 is 0.21's"
The blog description didn't get properly updated except for a version bump.

![image](https://user-images.githubusercontent.com/731722/99897938-8974b680-2c52-11eb-8684-810d993d96c6.png)

[2020-12-18 20:13] efx opened #77 "jq to nushell idioms"
We should document the nu equivalents to `jq` idioms. As a deadline strapped developer I greatly appreciate this kind of focused documentation. It empowers me to solve a familiar problem in unfamiliar territory.

I love the "Coming from Bash" [documentation](https://www.nushell.sh/book/coming_from_bash.html) and think long term a jq equivalent would be nice.
Then, folks could easily map from the 1

[2020-12-23 17:21] dogancelik commented on #77
I have one example here: [Download all tarballs of an NPM package](https://gist.github.com/dogancelik/8af8c54fb89091156b2bf7ed36319ec0)

[2021-01-04 20:15] sophiajt opened #83 "Seeing issues with tables not aligning properly in some browsers"
Here's a picture from one screenshot:

![Eq4Q2IdVEAEqyqM](https://user-images.githubusercontent.com/547158/103575314-65d1ab00-4f36-11eb-8152-333f451e9299.jpg)

Asking around on twitter, I was told:

"Ok so I assumed this was ligatures from ---- not the actual characters for those lines. The misalignment on Android comes from the droid sans mono font not having those characters, causing it to fall

[2021-01-07 18:28] Ryan-McLemon opened #84 "Make `each` easier to find."
When trying to find an analog for a Bash `for`, I searched for `for`, `loop`, and `iteration` in the Nushell docs, but came up short ... can we add something to make it a bit easier to find `each`?

[2021-01-23 09:43] lambdagolem opened #85 "RSS/Atom feed?"
I just wanted to ask if there is support/if it would be possible to add support for RSS or atom on the blog? The old blog had support for that I think. I understand that this is probably rather niche and not a priority for the project if it is possible.

[2021-01-27 19:59] ibraheemdev commented on #24
I think this can be closed now that we have the new site.

[2021-01-27 20:00] ibraheemdev commented on #61
I think this can be closed now that we have the new site.

[2021-01-28 20:59] jntrnr opened #89 "Reference docs that need updates"
Was skimming through https://www.nushell.sh/book/command_reference.html and noticed that we're using `split-row` in a few places. The more modern form is `split row`.

This may mean we need to update the command docs on the main repo and republish here.

[2021-01-28 21:03] jntrnr opened #90 "Old command output in command docs"
A few commands need to have their outputs updated. I was looking at `prepend`, for example.

It shows:

[code]

I believe this is old and should not use the mixed table drawing or the empty header.

This probably needs to be updated in the command docs on the main repo first, and then regenerated for the website.

[2021-02-01 16:24] efx commented on #77
I imagine those examples should live in https://github.com/nushell/nu_scripts. Then a writer could author a tutorial referencing those high-quality sources.

[2021-02-11 17:42] ibraheemdev commented on #24
I think this can be closed now that the site has been updated.

[2021-02-11 17:42] ibraheemdev commented on #37
I think this can be closed now that the site has been updated.

[2021-02-11 18:07] #37 closed

[2021-02-11 18:53] shift-d opened #95 "Website is down"
Seems like [website](https://www.nushell.sh/) went down, _as i think_, after last commit...

![proof](https://user-images.githubusercontent.com/53366878/107684134-7999cb00-6cb3-11eb-845b-5b87f894534a.png)

[2021-02-11 18:56] shift-d commented on #95
<details>
<summary>Output after sending request outside browser</summary>
[code]

[2021-02-11 19:02] shift-d commented on #95
Website is up again.

[2021-02-11 19:02] #95 closed

[2021-02-12 16:14] marianoguerra opened #97 "website footer doesn't point to where to provide feedback"
hi!

https://www.nushell.sh/ says at the bottom

it would be nice if it linked/pointed to where that is

I found it because I was looking for a place to ask some basic questions about nushell without filling an issue and only found that on the site.

If there's a community (discord/slack/forum) it could point there or to a page where it lists the best place to provide feedback for the site and for

[2021-03-01 19:58] efx commented on #77
Another example I came across: how do I delete a key from a JSON value?
Consider programmatically removing a development dependency from a `package.json`.
Using jq:
[code]
For `nu` I wasn't sure how to do this. `open package.json | update devDependencies` and then what 😄 ?

[2021-03-01 20:11] jonathandturner commented on #77
@efx - the current way seems to be:

[code]

But I think we could make `reject` take in a path, so you could reject something deeper in the table.

[2021-03-03 17:14] efx commented on #77
@jonathandturner thank you! I'll add that to my ever expanding nu knowledge.

[2021-03-16 01:28] stegrams opened #110 "Not showing definition description on custom command --help"
Based on [Documenting your command](https://www.nushell.sh/book/custom_commands.html#documenting-your-command), I can't create a top description on my custom commands.
In command line, when I press Enter my comment is simply ignored as expected, and in config.toml when I use multi-line comment ("""), still don't have it printed in my command --help.

 | # | name   | os version | kernel version |

[2021-03-22 22:49] robations opened #112 ""Adding a new column" section is having an existential crisis"
https://www.nushell.sh/book/working_with_tables.html#changing-data-in-a-table

This goes on to give an example that adds a new _row_ using the `insert` command.

(I would try to work out the commands and suggest some changes, but I don't have time right now and wanted to log the issue.)

[2021-03-22 22:59] robations commented on #112
I'll add there doesn't seem to be an `add` command, but `insert` inserts a column, perhaps the tables need to be "pivoted" and the reference to `add` fixed.

[2021-03-30 21:49] Mrfiregem commented on #85
As a workaround, I used the Github releases feed since they link to the blog, but having the full article would be much better.

[2021-04-01 22:27] ehdevries opened #116 "Document configuration setting for case-insensitive completions"
### Problem

There is an existing configuration setting to enable case-insensitive completions ([source code](https://github.com/nushell/nushell/blob/main/crates/nu-cli/src/shell/completer.rs#L34-L48)):

[code]

However, this setting is not currently documented on the [Configuration page of the Nu Book](https://github.com/nushell/nushell.github.io/blob/master/book/configuration.md#line-editor-sect

[2021-04-19 10:57] jntrnr opened #122 "Dark mode"
It'd be nice if the websites could detect dark mode and switch to a dark theme if the mode was detected.

[2021-05-12 04:54] sophiajt opened #127 "Documenting the `char` command"
Is there a list of all the names of characters that `char` can print documented? Might be nice to have a handy reference.

[2021-06-21 19:05] efx opened #149 "consolidate "philosophy" documentation"
As a curious bystander I often explore a project's stated purpose.
nu's core repository has one `philosophy.md` document:
https://github.com/nushell/nushell/blob/318d13ed58fc749626f985b65be54b9b14896580/docs/philosophy.md
The contributor book here has one as well:
https://github.com/nushell/nushell.github.io/blob/ff405d6de3bd0513e9a5ff0bb7137f05e17cf295/contributor-book/philosophy.md

This issue t

[2021-06-25 14:43] eduardocanellas commented on #116
This setting was mistakenly placed on the root level configuration in the docs. I moved the line to the line editor table on #152.

[2021-06-25 21:31] ehdevries commented on #116
Thanks so much!

[2021-06-25 21:31] #116 closed

[2021-06-30 10:30] arthur-targaryen opened #154 "Some examples does not use the default setup"
In the [introduction section](https://www.nushell.sh/book/), the `sys` command output is:

[code]

But the output of `sys` on a fresh installation (0.33.1) with the default setup is:

[code]

This is because `pivot_mode` by default `never`.
The book should probably use the default setup for its examples.

[2021-07-07 19:37] sophiajt opened #159 "Document why `get` is strict and errors on blanks"
originally from https://github.com/nushell/nushell/issues/3193

[2021-07-23 21:43] nathom opened #174 "Document the pathvar command"
Some of the info in `Coming from bash` page and the `Adding paths to your PATH` page needs to be updated to include `pathvar`.

[2021-08-04 13:06] Tauheed-Elahee opened #181 "Provide more examples for `str` commands"
The `str` commands are documented in the [command_reference page](https://www.nushell.sh/book/command_reference.html) starting here [https://www.nushell.sh/book/command_reference.html#str-camel-case](https://www.nushell.sh/book/command_reference.html#str-camel-case). There are simple examples on how to use it, with the only ones being documented are `echo "sample text" | str command` several of th

[2021-08-04 13:57] Tauheed-Elahee commented on #181
I found the solution to my particular problem:
`ls -a | where name =~ "old" | each {echo $it.name}`

As documented here: [https://www.nushell.sh/book/commands/where.html#where-with-comparison](https://www.nushell.sh/book/commands/where.html#where-with-comparison)

It'd still be nice to have documentation on the `str` commands though.

[2021-08-06 13:17] caio commented on #11
Hi,

https://github.com/nushell/nushell.github.io/blob/668f69319021745c6ebf28c5b8e2a82485ed8ce2/.vuepress/theme/layouts/Layout.vue#L20

Shouldn't there be at least a `'monospace'` entry here so that the browser can fall back to whatever is the default monospace font the user configured?

My browser doesn't load remote fonts and I don't have any of the listed fonts installed, so it picks up a serif

[2021-08-08 12:34] Bellarmine-Head opened #185 "Command reference shortcomings"
What would really help me with getting into Nu is having any easy reference to all the commands.

This should be the place: https://www.nushell.sh/book/command_reference.html

But this page has some issues:-

1) There's no index to each command at the top of the page.  A section at the top with each command listed, and linked to the relevant section further down the page would be great.  There cou

[2021-08-24 18:32] filaretov commented on #185
Would it be possible and desirable to create the command reference from the `--help` output of each command? That is already fairly verbose and very helpful, and tends to be the most up-to-date documentation of each command.

[2021-08-26 20:11] filaretov opened #189 "Document working with virtual environments"
@elferherrera is currently working on adding Nushell support in Python's `virtualenv` and there's a general pattern for working with virtual environments, which was mentioned in [the changelog](https://www.nushell.sh/blog/2021-06-01-nushell_0_32.html#environment-loading-lily-mara).

We have some example scripts for that in the [`nu_scripts` repo](https://github.com/nushell/nu_scripts/tree/main/vir

[2021-08-29 13:44] filaretov opened #191 "Improve documentation on strings"
The current section on strings in the "Types of data" page could use some additions.

There are two existing issues that seem related to this:

- #127, documenting the `char` command
- #181, providing more examples for `str`

Both of these commands are commonly used with strings.

It seems to me that working with strings is a major part of a shell, should a top-level page about strings be created?

[2021-08-29 14:03] filaretov commented on #110
Hey @stegrams, I just tried adding more documentation to a custom command like this:

[code]

And it worked:

[code]

I also put it directly in config.toml like this:

[code]

I hope this helps!

[2021-08-29 23:51] stegrams commented on #110
Basically, the upgrade to 0.36 helped a lot :wink:.
I admit that I had forgotten how amazing this project is :+1:.

I put in config.toml your example on both versions and the bug has gone on the latest.

[code]
In command line, definition description is still ignored in both versions.
Maybe it would be better if there was a way to enclose the custom command in to a pair of scope identifiers, e.g.

[2021-08-29 23:51] #110 closed

[2021-08-30 19:05] filaretov commented on #110
Ah, I see, at least it's working now :smile:

Questions like this tend to get answered more quickly on the Nu Discord, there's a link on the README on the [main repo](https://github.com/nushell/nushell).

[2021-09-26 02:45] hustcer opened #199 "Generate a downloadable ebook so I can read it on my kindle"
Online Nubook is helpful, and it would be better if we can generate a downloadable ebook so I can read it on my kindle even without network. Thanks again.

[2021-09-27 02:34] hustcer commented on #122
+1

[2021-10-06 15:18] adzubla opened #203 "Example not working"
The example in this page is not working: https://www.nushell.sh/cookbook/native_shell_programs.html

[code]

[2021-10-07 02:14] adzubla opened #204 "Nu Book should have a section about strings"
I was learning nu shell using Nu Book and noticed that documentation specific to strings is missing.

Nu Book should have a section about strings: "Working with strings" or "Working with text"
There are some examples of it but they are all scattered in topics about other subjects.

The idea is to show how nu could be used instead of sed/awk to do text processing.

Suggested topics:

- trim
- upper

[2021-10-23 16:24] vwkd opened #211 "Move Philosophy into Book"
The book does a great job on the How. It explains well how Nushell works. But it lacks a bit on the Why. The Introduction hints on it but it seems to get lost on the surface, e.g. "modern style of development", "modern feel", "UX polish". New users tend to want to know the Why first before the How.

The [Philosophy](https://www.nushell.sh/contributor-book/philosophy.html) section of the Contributo

[2021-12-13 20:26] efx commented on #77
Here is another one.

How do I extract the keys from a data structure?

## jq
[code]
## nu (as of 0.41.0)
[code]

[2022-02-07 01:52] sakimyto opened #217 "Document regex capabilities"
### Related problem
https://github.com/nushell/nushell/issues/4268

### Describe the solution you'd like
- Add that we basically use `rust-lang/regex` to the book and contributor book.

[2022-02-22 14:24] kubouch opened #223 "Document possible types accepted in signatures"
When making a custom command (e.g., `def foo [x: <some-type>] { })`, it's not clear which types are accepted in the signature. We should put into the book which values of `<some-type>` are accepted.

The accepted values are in the source code here: https://github.com/nushell/nushell/blob/c2bad7112358c472406d23dd95403f3f610a048f/crates/nu-parser/src/parser.rs#L2008

[2022-02-22 14:24] kubouch commented on #217
I believe this was fixed in the PR so I'll close it.

[2022-02-22 14:24] #217 closed

[2022-03-01 14:48] hustcer opened #239 "Overview of documents status?"
I think we need to create a table to summarize the status of all the documents, so that we can translate the ones that are completed and relatively stable. Maybe a table like this:
| name               | status| zh-cn| ja       |
| ------------------ | ------- | ------- | -------------- |
|aliases.md             | Finished| Translated     | Untranslated   |
| configuration.md           | In progre

[2022-03-01 14:49] jntrnr commented on #239
I love this idea. Should we keep it as an issue or make it part of the book?

[2022-03-01 14:51] hustcer commented on #239
Maybe as an issue first, then become part of the book if necessary?

[2022-03-03 20:42] dgalbraith opened #246 "Correct Winget installation instructions"
The instructions to install `nushell` using [Winget](https://docs.microsoft.com/en-us/windows/package-manager/winget/) reference an incorrect package name `nu`.

The correct package name is `nushell` - the website and book documentation should be updated to reflect this.

[2022-03-03 20:43] dgalbraith opened #247 "Document nushell installation on Windows using Chocolatey"
Update the `nushell` website and book to document installation on Windows using the [Chocolatey](https://chocolatey.org) package manager.

[2022-03-03 20:43] jntrnr commented on #246
@dgalbraith would you mind sending a PR to change this? we've seen some changes with how the winget package works, but it's maintained by a third-party rather than by us

[2022-03-03 21:05] #246 closed

[2022-03-03 21:48] #247 closed

[2022-03-07 03:24] rgwood commented on #211
@vwkd That seems like a good idea. Feel free to submit a PR.

[2022-03-07 03:25] rgwood commented on #204
@adzubla I think this addresses your request: https://www.nushell.sh/book/strings.html

[2022-03-07 03:28] rgwood commented on #191
@filaretov There is a top-level page for strings now: https://www.nushell.sh/book/strings.html

[2022-03-07 03:33] rgwood commented on #97
@marianoguerra These days the Nushell Discord seems the most active: https://discord.gg/NtAbbGn

I'm pretty sure the core team would welcome a PR.

[2022-03-07 04:39] rgwood commented on #89
Believe this can be closed, there are no hits for `split-row` on that page anymore.

[2022-03-07 05:37] #89 closed

[2022-03-07 11:14] #63 closed

[2022-03-07 12:57] fdncred commented on #97
thanks!

[2022-03-07 12:57] #97 closed

[2022-03-07 13:46] hustcer commented on #239
I will create a table later

[2022-03-07 13:46] #239 closed

[2022-03-07 13:52] hustcer opened #261 "Documents translation status overview"
This table holds the overview of the nushell docs' writing and translation status. We need your help to translate the docs. And please notify me after you finish some translation. Thanks

---

| name                            | en          | de | zh-cn | ja | es | pt-BR |
| ------------------------------- | ----------- | -- | ----- | -- | -- | ----- |
| 3rdpartyprompts.md              | In progre

[2022-03-07 17:49] rgwood commented on #112
Thanks for the bug report! Looks like this was fixed in 81e1c76d7ee44eb3f08c7ef7cfe52f543e84d5e9

[2022-03-07 17:52] jntrnr commented on #112
In the latest main, `insert` is now part of `update` so we may want to mark this as something to go fix in the current docs. The other one was that `nth` was moved into `select` as well.

[2022-03-07 18:03] rgwood commented on #85
Yeah, this would be great. The website currently uses [VuePress](https://vuepress.vuejs.org/) and it looks like there are a few RSS plugins out there for VuePress. PRs would be very welcome.

[2022-03-07 18:34] rgwood commented on #60
I think this can be closed; `from csv` now uses `--noheaders` and the docs no longer show output.

 https://www.nushell.sh/book/commands/from_csv.html

[2022-03-07 19:47] hustcer commented on #60
@rgwood Thanks

[2022-03-07 19:47] #60 closed

[2022-03-07 19:49] #24 closed

[2022-03-07 19:51] #68 closed

[2022-03-07 19:53] #203 closed

[2022-03-07 19:58] #61 closed

[2022-03-07 20:13] rgwood commented on #61
@cathalgarvey Thanks for reporting this and sorry for the very late reply. Closed as the website's been revamped and I don't think this will be an issue anymore. Feel free to comment here or open a new issue if you can still reproduce this.

[2022-03-07 20:18] sebastian-xyz commented on #38
Available via chocolatey and installation instructions are also provided on the website. Closing.

[2022-03-07 20:19] #38 closed

[2022-03-07 20:26] fdncred commented on #49
wow, this is old. we've refreshed a few times since this one. lol

[2022-03-07 20:26] #49 closed

[2022-03-07 21:15] jntrnr commented on #49
@fdncred would be nice to follow some of the ideas in the original post. We don't currently show a lot of the main reasons yours want to use Nushell

[2022-03-08 03:00] hustcer commented on #261
@sebastian-xyz Hi, Thanks for your contribution, could you please update [i18-meta.json](https://github.com/nushell/nushell.github.io/blob/main/i18n-meta.json) file in your next PR? for example:
[code]

 Then I can update the content of this table in time.

[2022-03-09 20:25] kubouch opened #271 "Update Environment chapter with correct raw non-string values"
Just a TODO after https://github.com/nushell/nushell/pull/4748 lands -- the `raw` column of `env` will change and the env conversions might need more explanation about default PATH.

[2022-03-11 15:54] fdncred opened #278 "break up command_reference"
Our new search engine, Algolia, doesn't like massive pages. I don't really blame it. It would be nice to break up the command reference page into alphabetical pages so that these results could be found by searching.

Like:
a.md/html -> alias, all? ansi, any? append
b.md/html -> benchmark, build-string
etc

![image](https://user-images.githubusercontent.com/343840/157901272-e6df5097-3148-4c0a-98f2-

[2022-03-11 22:26] #271 closed

[2022-03-12 19:54] Dialga opened #281 "case insensitive example does not work"
`ls | where ($it.name | str contains --insensitive "foo")` does not work.

[2022-03-12 19:56] rgwood commented on #281
Hi, what version of Nu are you on?

[2022-03-12 21:32] Dialga commented on #281
.44, well I can't find the equivalent for the older version. I need it to match the file extension.

[2022-03-12 22:05] fdncred commented on #281
This works on 0.59.1. We're close to rolling out our new version.

[code]

version 0.44 works like this
[code]

[2022-03-12 22:05] #281 closed

[2022-03-14 01:00] rgwood opened #284 "Update docs to reflect insert/update changes"
The book still mentions `insert` as the way to add a new column to a table: https://www.nushell.sh/book/working_with_tables.html#changing-data-in-a-table

`insert` has been deprecated in favour of `update` in engine-q, the docs will need to be updated accordingly.

UPDATE: we now have 3 separate commands (`insert`, `update`, `upsert`). Docs should be updated accordingly.

[2022-03-14 02:40] rgwood commented on #278
@fdncred As an alternate solution, what if we just change the command reference page to have less content?

Right now it seems to merge _everything_ including examples from every individual command page into 1 monster page. I think the reference page would be more readable if it skipped examples and had a table with links to each individual command (and maybe a short description of each). That wou

[2022-03-14 11:18] fdncred commented on #278
I think I'd like to keep examples on the command page, since I think examples are more important than text most of the time. As far as having a reference page with links to commands, that's kind of what I'm suggesting above. My suggestion was just to order that reference page alphabetically with links to the `a` commands and `b` commands etc. I'm open to other organization strategies though. I jus

[2022-03-14 16:39] rgwood commented on #278
Hmm. I should have been more clear. Right now we have:

1. Individual command pages (ex: [`ls`](https://www.nushell.sh/book/commands/ls.html), [`where`](https://www.nushell.sh/book/commands/where.html))
2. [The huge command reference page](https://www.nushell.sh/book/command_reference.html) which just concatenates the content of every individual command page

I'm thinking we change the command ref

[2022-03-14 18:29] fdncred commented on #278
I'm fine with combining our suggestions somehow but I'd rather not have 300+ individual pages for the commands, which is why i was trying to group them by first letter of the command.

[2022-03-14 18:31] rgwood commented on #278
I see. Possibly dumb question: what's wrong with an individual page for each command? Personally I like having an individual page for each command (easy to generate, easy to link to).

[2022-03-14 18:33] PDQDakota opened #288 "PowerShell && and ||"
In the [operator map](https://github.com/nushell/nushell.github.io/blob/b8c550cfa7e902f22e7dc244674aa031ebea169a/book/nushell_operator_map.md) page, PowerShell is listed as only supporting `-and` and `-or` for `&&` and `||`

As of [PowerShell 7.0](https://docs.microsoft.com/en-us/powershell/scripting/whats-new/what-s-new-in-powershell-70) the `&&` and `||` operators are supported, is the operator

[2022-03-14 18:46] rgwood commented on #288
Good catch! I don't think the operator map page is intended to reflect a specific PowerShell version; feel free to submit a PR.

[2022-03-14 18:54] fdncred commented on #278
I think it's too cumbersome to have hundreds of tiny files. Another thought is to organize them by category, like if you did `$nu.scope.commands | select command category` but if you wanted an accurate list, you'd have to filter some things out. for me, that command returns 411 commands - lol.

[2022-03-14 22:46] #288 closed

[2022-03-15 00:42] #278 closed

[2022-03-15 03:39] rgwood commented on #85
Hi, this is done! We've got RSS/Atom/JSON feeds for the blog now:

https://www.nushell.sh/rss.xml
https://www.nushell.sh/feed.atom
https://www.nushell.sh/feed.json

[2022-03-15 04:50] #85 closed

[2022-03-15 23:14] rgwood opened #294 "Website doesn't work over HTTPS without www subdomain"
If you try to access the Nushell site over HTTPS without the www subdomain it times out:

https://nushell.sh
https://nushell.sh/book/

Not a huge deal but there's probably some way to fix this via DNS settings.

[2022-03-15 23:30] rgwood commented on #185
@Bellarmine-Head Thanks for the detailed issue. The command reference was previously just all the individual command pages concatenated; it certainly had a lot of shortcomings. I recently converted it to a much more compact table with links; I think this addresses your points but feel free to reopen this if you still have issues with the page.

@filaretov Yep! That's essentially how the command pa

[2022-03-15 23:30] #185 closed

[2022-03-16 08:29] Bellarmine-Head commented on #185
@rgwood - so much better; thanks!

[2022-03-16 11:39] fdncred commented on #294
I've noticed this too, as sometimes I would just put in nushell.sh and it wouldn't work. I'm not sure how to change this myself.

[2022-03-16 21:09] kubouch opened #295 "Organize book chapters better"
Right now, the book chapters are ordered quite randomly and there is too many of them in one column on the left. It would be great if we could group them into fewer groups so it's easier to navigate.

[2022-03-16 21:21] rgwood commented on #295
Good call, I would love to have fewer pages. Off the top of my head:

- Could probably group the "Nu map from..." pages together. Maybe "Coming from Bash" too
- "Coloring and Theming in Nushell" could arguably go in Configuration
- Pages that arguably don't need their own page "Metadata", "Creating your own errors"
- Could maybe combine Operators and Math

[2022-03-16 21:47] fdncred commented on #295
@rgwood Would you be willing to take a stab at this based on whatever you think is a first step at it?

One thing I keep thinking is that when someone goes to the page, they don't necessarily notice the search bar, so they look down the list on the left, which isn't organized alphabetically, so it's kind of hard to find what you're looking for. I'm not sure we can make it alphabetically (maybe we

[2022-03-16 21:59] rgwood commented on #295
Sure thing, I can try to clean this up a bit.

I believe the pages are ordered manually in config.js, so we can do whatever makes the most sense.

Probably don't want to do full alphabetical (good to keep Introduction+Installing at the top, maybe others too) but I bet we can improve on the ordering somehow.

[2022-03-16 22:02] fdncred commented on #295
ya, agreed.

[2022-03-17 12:05] kubouch commented on #295
@rgwood I mean instead of merging pages into each other, I was thinking about adding one more layer of indirection: Grouping the existing pages by topic, like the Rust book for example: https://doc.rust-lang.org/stable/book/

I wouldn't go for alphabetical ordering but rather simple first, advanced later. Maybe we could even introduce chapter / section numberings, just like the Rust book.

I'm jus

[2022-03-17 22:02] rgwood commented on #295
@kubouch Gotcha. I'm not sure when/if I'll have time to try that but [the official VuePress docs](https://vuepress.vuejs.org/guide/#how-it-works) have an "Advanced" group so it should be possible:

<img width="192" alt="image" src="https://user-images.githubusercontent.com/26268125/158901541-026932d9-2d2b-467a-aa9e-26d1c7b8d9a1.png">

[2022-03-18 00:38] #284 closed

[2022-03-18 08:53] kubouch commented on #295
Yeah, something like the screenshot would look great. For now, we can start reordering the pages and merging when it makes sense.

[2022-03-18 15:55] rgwood commented on #295
I’ll work on grouping/reordering/merging today.

[2022-03-18 23:11] kubouch opened #311 "Use cookbook to explain some nu_scripts"
Currently, the cookbook is rather underwhelming. The idea of the cookbook is to show practical recipes and how-to guides with explanations. One idea how to add more content is to take some nice script from [nu_scripts](https://github.com/nushell/nu_scripts) and go through it in detail in a cookbook page. This has two benefits:
1. Enhanced in-depth documentation for scripts in nu_scripts
2. More co

[2022-03-20 07:34] xiaoxi-david opened #321 "Information about Nushell on Wikipedia will increase its visibility"
Wikipedia has a [comparison article](https://en.wikipedia.org/wiki/Comparison_of_command_shells) with information on almost all shell commands except Nushell. Adding Nushell information there will increase its visibility.

[2022-03-21 04:35] hustcer commented on #199
I will create an e-book recently, maybe this week

[2022-03-24 08:04] hustcer commented on #199
I have just create an ebook and available here: https://github.com/hustcer/open-books/blob/main/Nushell-Book.epub
These two chapters “Nu map from functional languages” and "Command Reference" are broken, I will fix them later

[2022-03-24 12:09] #199 closed

[2022-03-27 12:53] fdncred opened #350 "consolidate our starship instructions"
We really shouldn't have 2 parts in the book that tell you how to enable and use starship as your prompt. Especially if the two sections have different instructions. We should consolidate our 3rd party prompt instructions in the 3rd party prompt chapter.

The two sections are:
- https://www.nushell.sh/book/configuration.html#prompt-configuration
- https://www.nushell.sh/book/3rdpartyprompts.html

[2022-03-28 18:48] elferherrera opened #354 "Externals string arguments don't work with extern"
It seems that the string interpolation doesn't work when an external has an extern defined

[code]
In this case the `git branch` command has an extern defined. When running this one liner git errors with the message

[code]

If the extern is removed then the command works

[2022-03-29 14:52] TyPR124 commented on #294
This looks like an issue with github pages to me: https://github.community/t/does-github-pages-support-https-for-www-and-subdomains/10360/8

Unfortunate, but it doesn't seem like github is interested in fixing this. A suggestion from that thread is to use Cloudflare as a front-end.

For what it's worth, I recently changed [stdrs.dev](https://stdrs.dev) to use Cloudflare and I have no issues (certi

[2022-04-02 07:54] chtenb opened #362 "More documentation about configuring reedling keybindings"
I know this feature is very new and all, but I'm struggling to figure out how to change key bindings, so I would like to formally request more exhaustive material on this topic.

[2022-04-02 08:37] elferherrera commented on #362
What would you like to known?

[2022-04-02 10:35] chtenb commented on #362
Perhaps I'm just confused by several things, so I'm just gonna list some questions.

1. `keybindings list` gives a list of things related to keybindings, but it is unclear to me how this information maps onto the configuration examples. The types are `events`, `edits`. But in the examples you have `event`, `send`, `edit`, `until`.
2. Some thingies expect (named?) parameters, but what these paramet

[2022-04-02 12:12] elferherrera commented on #362
Dont take it wrong, but it seems that you didnt read the documentation.

1. probably that could be a bit more clear
2. When they are named or not is explained here
![image](https://user-images.githubusercontent.com/6942205/161382484-411e5acf-377e-4e3a-a9a4-552c3a69954d.png)
and here
![image](https://user-images.githubusercontent.com/6942205/161382519-72d5f3fc-adaf-4628-8c21-c0d1b9cf46ab.png)
3. th

[2022-04-02 12:20] chtenb commented on #362
Thanks for your reply.

You are right. I actually read that, but didn't memorize it. When I started investigating all the possibilities using the `keybindings` command I didn't have this information on the top of my head anymore, and the keybindings output doesn't give any hints about this.

Interesting. This is the second time that I found myself reading over a quotation block. They are grayed ou

[2022-04-02 12:34] fdncred commented on #362
I agree with this point. When I wrote that I originally intended to override the results coming from reedline so that they matched what a user could put in a keybinding. I think we'd accept a PR that does that, although, word case doesn't matter. It can be pascal case, uppercase, lowercase, etc.

[2022-04-02 14:29] chtenb commented on #362
Another thing I just found out to be very helpful is the `keybinding listen` command to track down how certain keypresses are interpreted by your terminal and which keypress are intercepted/captured by the environment. In my case I'm using the integrated terminal of VSCode which doesn't pass all keycombinations onto the terminal. Perhaps this command deserves a recommendation for troubleshooting i

[2022-04-02 22:20] fdncred commented on #362
I "borrowed" that code from a crossterm example and it's super helpful because, like you say, all terminals don't see all keystrokes, which is why I added it moons ago. We'd accept a PR to illuminate the keybindings commands more.

[2022-04-03 11:45] chtenb commented on #362
I opened a PR for the `listen` command: https://github.com/nushell/nushell.github.io/pull/364

I don't feel qualified to address the other things mentioned in the thread because I do not understand those fully myself.

[2022-04-03 11:51] chtenb opened #365 "Render quotation blocks with more emphasis"
If you look at any page with quotation block, like for example https://www.nushell.sh/book/line_editor.html#configuration, you will see that the blocks are rendered in a grayed out fashion. It happened to me several times that I unconsciously missed some of those blocks even though they contained critical information to me. I know that this is mildly subjective, but if it hurts the documentation r

[2022-04-03 11:55] fdncred commented on #365
This is what I see. Is it what you're talking about?

<img width="786" alt="Screen Shot 2022-04-03 at 6 54 21 AM" src="https://user-images.githubusercontent.com/343840/161426747-d741d847-748d-4dce-b1ff-88896b4c38ff.png">

<img width="785" alt="Screen Shot 2022-04-03 at 6 54 30 AM" src="https://user-images.githubusercontent.com/343840/161426752-fc141da9-2a97-4797-a310-f2897746848e.png">

[2022-04-03 11:56] chtenb commented on #362
I openened a separate issue for the quotation blocks: https://github.com/nushell/nushell.github.io/issues/365

Open bullet points:

- [ ] Clarify how the keybindings list output relates to how you actually configure the keybindings in the config.nu file. (events, edits VS event, send, edit, until)
- [ ] Clarify what modes are for and what vi_normal and vi_insert are supposed to be. Their meaning i

[2022-04-03 13:16] chtenb commented on #365
No, I'm referring to these

![image](https://user-images.githubusercontent.com/1030961/161429998-f0d02e72-eb81-49fa-bb7e-66824d6a33a1.png)

[2022-04-03 13:46] fdncred commented on #365
ok. I see what you mean. I use the dark reader extension so I usually don't see white backgrounds unless I turn it off. This is what I see.
<img width="798" alt="Screen Shot 2022-04-03 at 8 44 47 AM" src="https://user-images.githubusercontent.com/343840/161431041-8b483f85-9f49-438d-9555-d70ef9a3f28d.png">

I'm wondering if this is a css setting in the vuepress stuff we could change?

[2022-04-03 13:58] fdncred commented on #365
so that thing is called a `blockquote`. I don't see a way to change that but I'm not vuepress person either. Maybe we could change `>` to tips `:::` like this?

<img width="779" alt="Screen Shot 2022-04-03 at 8 56 43 AM" src="https://user-images.githubusercontent.com/343840/161431502-e305cf07-3ff9-498e-95a2-a95ff68cb1e6.png">

if you want to submit a PR with changing these to tips we can see what

[2022-04-03 14:05] chtenb commented on #365
Yeah, that looks very appropriate imho.

I'll have a look into this

[2022-04-04 07:57] #365 closed

[2022-04-05 11:38] chtenb opened #371 "Improve documentation on file paths"
Relevant page: https://www.nushell.sh/book/types_of_data.html#file-paths

In particular it is unclear how the path type differs from the string type, and what "platform-independent" *exactly* means.
Since working with paths is so fundamental to shell scripting I think this deserves a thorough treatment.

[2022-04-05 17:51] fdncred commented on #371
That documentation may be left over from v0.44.0 since in that version `FilePath`s were a thing. Now they're not even a type.

From crates/nu-protocol/src/ty.rs
[code]

[2022-04-10 04:59] hustcer commented on #261
Translation status has been updated

[2022-04-14 20:34] chtenb opened #401 "Improve documentation on "magic" variables"
I've noticed here and there that it is possible to directly refer to a parameter in a command without declaring it in a block. E.g.

[code]

It appeals to me because I find that the declaration part with the pipes is a little annoying to type. But I can't find any documentation on when and where it might be used.

[2022-04-14 20:49] fdncred commented on #401
yup, documentation is lacking. i don't use either `$it` or `$in` very much. but i know these
`ls | $in.2`
`ls | $in.size`

[2022-04-15 10:22] chtenb commented on #401
The concept reminds me of the `$_` variable in perl and the `_` in purescript (where `_.name` is a function `x -> x.name`).
In concept I don't like it very much either when it is not super clear where a variable comes from. But when it saves a lot of typing than that improves QoL a lot, since shell commands are write once read never most of the time.

The block notation in nushell strikes me a bit

[2022-04-15 11:59] fdncred commented on #401
Strangely enough, powershell uses `$_` as well as kind of a magic [variable](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_automatic_variables?view=powershell-7.2)

It was odd to me too. I think it's more of a functional programming language thing. It's pretty common in rust.

I'm not sure that would fly. One of the big points to block parameter naming is

[2022-04-16 16:59] adzubla opened #404 "Specify type of Range"
In https://www.nushell.sh/book/types_of_data.html#ranges

Replace "A range is a way of expressing a sequence of values from start to finish."

To "A range is a way of expressing a sequence of INTEGER values from start to finish."

[2022-04-16 17:12] adzubla opened #405 "Two pages with the same title"
In "Nu Book" there are two pages with the same title, which is a little confusing:

- Nu Fundamentals > Loading Data > Working with strings
- Nu Fundamentals > Working with strings

I sugest changing the page in Loading Data to "handling strings" or "parsing strings".

[2022-04-16 17:13] fdncred commented on #404
There are things like this too.
`for $x in 0x61..0x7a { $x }`
`for $x in 0x61..0x7a { char -i $x }`
`for $x in 0b01..0b100 { $x }`
`for $x in 0o1..0x10 { $x }`

but you're right that we currently can't do `for x in a..z`. this is because `a..z` theoretically could be a filename. but we may be able to do `for x in "a".."z"` or something along those lines. I'd like to have some way to iterate letter

[2022-04-16 17:15] adzubla commented on #405
![Captura de tela 2022-04-16 141440](https://user-images.githubusercontent.com/9607562/163684843-585eda5c-3aa9-4bad-9a6c-005eb2b0455a.png)

[2022-04-16 17:22] fdncred commented on #405
Feel free to change the names to differentiate.

[2022-04-18 11:43] hustcer commented on #261
After this PR: https://github.com/nushell/nushell.github.io/pull/408, it's recommend to use `commit_id@author` or simply a `COMMIT-ID` to indicate your translation end to the specified commit, then you can use command like `nu ./i18n.nu outdated zh-CN` to check the outdated translations for the specified locale.

[2022-04-18 14:15] filaretov commented on #191
The link seems to be https://www.nushell.sh/book/working_with_strings.html

That's great, thanks!

[2022-04-18 14:15] #191 closed

[2022-04-19 21:55] Kangaxx-0 opened #409 "Contributor book is outdated"
I am new to nushell, is the contributor book outdated? I got quite confused and had to look into the source code to figure it out, e.g - [Vaules](https://github.com/nushell/nushell.github.io/blob/main/contributor-book/values.md) says something like below

`pub struct Value {
    pub value: UntaggedValue,
    pub tag: Tag,
}`

However, the implementation was completely changed

<img width="670" alt

[2022-04-19 21:57] jntrnr commented on #409
@Kangaxx-0 - yeah it still needs to be updated. We hid it from the main page until we had time to fix it. At this point, it probably needs to be re-written since so much changed with the new engine that came with 0.60

[2022-04-19 22:24] Kangaxx-0 commented on #409
@jntrnr Thanks, that makes sense

[2022-04-19 22:24] #409 closed

[2022-04-21 08:36] hustcer commented on #154
The output has been updated based on Nushell v0.60, closing this.

[2022-04-21 08:36] #154 closed

[2022-04-22 06:27] hustcer commented on #261
For those who want to translate the nushell docs, here is a [Translation Guide](https://github.com/nushell/nushell.github.io/blob/main/CONTRIBUTING.md#translation-guide) for you.
Thanks for your contribution!

[2022-05-02 12:31] #405 closed

[2022-05-04 19:32] Dan-Gamin opened #431 "Dark Mode"
Can we please have a dark mode? It doesnt have to be anything fancy. Just a CSS `@media` query using `prefers-color-scheme: dark` to make the website dark would work.

[2022-05-04 19:34] Dan-Gamin commented on #431
I realize this is a duplicate of #122 .

[2022-05-04 19:34] #431 closed

[2022-05-04 19:35] rgwood commented on #431
PRs are welcome.

In the long term we might be moving to VuePress v2 or VitePress and I think that might give us dark mode for free. But that's probably a while away (and it will require a lot of effort).

[2022-05-04 19:36] fdncred commented on #431
I think vuepress 1.0 doesn't support it but 2.0 does. we just need a friendly voluteer to upgrade us. :)

[2022-05-04 20:13] Dan-Gamin opened #432 "The Search Bar doesnt work."
_No Description Needed for this issue_

[2022-05-04 21:17] rgwood commented on #432
This does need a description, unfortunately; what exactly isn't working for you? What OS+browser are you using?

The search bar works for me on Linux+Firefox:
![image](https://user-images.githubusercontent.com/26268125/166827255-0a287e44-c71a-407e-bb6d-c7ae0b0538bc.png)

[2022-05-04 21:35] Dan-Gamin commented on #432
wait it works now? huh... i swear it was broken earlier. weird

[2022-05-04 21:35] #432 closed

[2022-05-23 17:24] petrisch commented on #261
@sebastian-xyz Can you have a look here: [petrisch](https://github.com/nushell/nushell.github.io/compare/main...petrisch:main)
Maybe I can contribute some things from time to time, but it should fit in with the rest, so I hesitate to make a PR.

[2022-05-23 19:07] sebastian-xyz commented on #261
@petrisch From reading through it I noticed you used 'wir' as in the english version. I tried to avoid that since it is not that common in german. Otherwise I didn't notice anything that I would change or that varies from the way I did it. But it's also fine like this. Thanks! Feel also free to ping me on discord if you've got any other questions while translating :)

[2022-05-25 09:53] hustcer commented on #261
@petrisch It's not recommend to change the file name after translation, change the file name will cause some code formatting issue, and may make `./i18n.nu` script fail

[2022-05-25 11:51] jgollenz opened #454 "Rename `pivot` to `transpose`"
The `parsing_git_log.md` file has some mentions of `pivot` in the description. The code snippets all contain `transpose`. I assume all instances of `pivot` can be renamed to `transpose`? Did not look for other instances, so there might be more

[2022-05-25 12:43] kubouch commented on #454
Yeah, should be removed.

[2022-05-25 14:33] #454 closed

[2022-05-29 09:38] petrisch opened #460 "Inconsistancies in documentation"
When dealing with the [german](https://github.com/petrisch/nushell.github.io/blob/main/de/book/thinking_in_nushell.md) translation, I found a few things that are inconsistent even in the english version.

in [types_of_data](https://github.com/nushell/nushell.github.io/blob/main/book/types_of_data.md) we talk about floats in the first section.
Later the term is `decimals`. From `help into decimals`

[2022-05-29 11:43] sholderbach opened #461 "Missing documentation for switch flags"
https://www.nushell.sh/book/custom_commands.html#flags fails to mention how flags can be used as basic switches

like

[code]

[2022-05-29 15:46] hustcer opened #463 "Upgrade to vuepress-next and add darkmode support"
Upgrade to vuepress-next and add darkmode support: https://v2.vuepress.vuejs.org/, however, This may take quite a lot of work
vite-press may not be a good choice for [the plugin support might be poor](https://vitepress.vuejs.org/#will-this-become-the-next-vuepress-in-the-future).

[2022-05-30 11:40] sholderbach opened #464 "Document how to read/check an environment variable more explicitly"
https://www.nushell.sh/book/environment.html contains several ways on how to set environment variables and reads them in the code in some places but does not explictly mention how to read them with `$env.VARIABLE` or `env`.

Add a section "Reading environment variables"

Inspired by nushell/nushell#5684

[2022-05-30 11:50] sholderbach commented on #460
The preferred way for VuePress is to use relative links to the markdown files. e.g. https://github.com/nushell/nushell.github.io/pull/388/files

[2022-05-30 16:22] jgollenz commented on #464
If this is still up for grabs, I'd like to do it

[2022-05-31 23:46] #464 closed

[2022-06-02 10:56] fdncred commented on #350
this happened a while back

[2022-06-02 10:56] #350 closed

[2022-06-02 10:59] fdncred commented on #362
@chtenb should we close this now that your issues are landed?

[2022-06-02 11:00] #371 closed

[2022-06-02 11:21] chtenb commented on #371
@fdncred I think this was closed prematurely. The docs still mention filepaths as a dedicated data type.

[2022-06-02 11:30] fdncred commented on #371
I just submitted a PR to remove them

[2022-06-02 11:37] chtenb commented on #362
I see that the 2nd bullet from my previous post has been resolved by https://github.com/nushell/nushell.github.io/commit/95cf90c256dfcb1a49143023d68412931d813a39. I've marked it as such.
But I think the status of the 1st and 3rd bullets have not changed.

[2022-06-02 11:43] hustcer commented on #463
Will be fixed by this PR: https://github.com/nushell/nushell.github.io/pull/465

[2022-06-02 11:44] hustcer commented on #122
Will be closed by this PR: https://github.com/nushell/nushell.github.io/pull/465

[2022-06-02 11:48] fdncred commented on #362
the 3rd bullet on case is a non-issue because any case works for keybindings.

[2022-06-02 12:38] chtenb commented on #362
As far as I'm concerned you can treat this issue as feedback from a new user about frictions and confusions in the experience of adopting a new tool. If you feel that the complaints are ungrounded, feel free to close the issue.

[2022-06-02 13:39] #122 closed

[2022-06-02 13:40] #463 closed

[2022-06-03 22:23] #461 closed

[2022-06-04 06:07] Dan-Gamin commented on #204
[There is already a page for it.](https://www.nushell.sh/book/working_with_strings.html)

But it doesn't cover all the things @adzubla mentioned.

[2022-06-04 09:10] Dan-Gamin commented on #204
I'm working on PR right now.

[2022-06-04 13:11] #204 closed

[2022-06-05 05:56] adzubla commented on #204
Thanks, the documentation is way better now!

I'm note sure if its the right forum to ask but...
When using tab completion on a name which contains spaces, nu replaces with the name in backticks (acute char) like this:

![Captura de tela 2022-06-05 024716](https://user-images.githubusercontent.com/9607562/172037302-b05355f7-1a32-4b7b-9824-76c74d82ece4.png)

What is this? It is not mentioned anywhe

[2022-06-05 07:08] hustcer commented on #90
I think the outputs should be updated, let's close it

[2022-06-05 07:08] #90 closed

[2022-06-05 07:15] Dan-Gamin commented on #204
@adzubla I have never seen that before. I have no idea.

[2022-06-13 10:13] f2hafner opened #496 "Example in working_with_lists.md causes type_mismatch Error"
# Problem
There seems to be a mistake in the "Working with lists" section, at the "Iterating over lists" subsection.
There it states:

[code]

However when running the last example an error occurs:

[code]

# Solution

The error message is a pretty clear indication what went wrong.
So when run with the item value on the accumulator taken into account...

[code]
...it works as intended.

[2022-06-13 10:17] kubouch commented on #496
As Nushell evolves, certain things go out of date. Please, feel free to submit a PR with a fix, we'd much appreciate!

[2022-06-13 11:24] #496 closed

[2022-06-14 10:11] th-schall opened #500 "Missing documentation content"
I have discovered nu shell some weeks ago and have switched quickly so that it is now my standard shell on Windows and the default profile in Windows Terminal. However, there are some issues I perceive with the documentation. Maybe some or all are to blame to the fact that I am not that familiar with nu shell and its documentation yet. I present all topics anyway, so that this maybe can be resolve

[2022-06-14 11:43] fdncred commented on #500
I guess this is our cheat sheet https://www.nushell.sh/book/command_reference.html

[2022-06-14 15:33] th-schall commented on #500
I know this list and I use it, but it is not that useful for newbies. You have to know quite specifically, what you are looking for and there is almost no way to identify related commands except for searching for some terms in the text. However, if you are searching for a term uncommon in the nu shell context you probably find nothing. This can happen easily, especially in these cases where nu she

[2022-06-14 16:04] fdncred commented on #500
I tend to agree with most of this.

I like your cheat sheet. I can see that being a page in the book.

[2022-06-17 11:35] merelymyself opened #509 "Documentation lacking short flags?"
In commands such as `ls` and `print`, which are probably the commands new users will want to use the most, the short flags (eg `-n` for `print`) are not present in the website. Is this a deliberate choice, or should they be added as well?

[2022-06-17 11:36] merelymyself opened #510 "README is broken"
The README currently has many images that are not loading due to not being present.

![image](https://user-images.githubusercontent.com/88221256/174290983-3d220eb9-4937-439b-8303-07b3c624b42d.png)

[2022-06-17 11:43] fdncred commented on #510
I was looking at these start with `/frontpage`. I wonder how long that folder has been missing?

[2022-06-17 11:50] fdncred commented on #510
Looks like they never worked? This is the first commit from @rgwood  that I see them in https://github.com/nushell/nushell.github.io/tree/ba0b28666e1ac58bb7aafff268af55acdc98f5f7

[2022-06-17 13:41] hustcer commented on #510
They work well in the home page: https://www.nushell.sh/

[2022-06-17 14:11] rgwood commented on #510
Yeah I think the README’s primary purpose is to be the front page for the website. Maybe there’s a way to change that but I haven’t looked into it, PRs welcome.

[2022-06-24 07:30] hustcer commented on #510
Fixed by https://github.com/nushell/nushell.github.io/pull/518

[2022-06-24 07:30] #510 closed

[2022-06-26 05:33] kubouch opened #519 "Missing docs for NU_LIB_DIRS"
NU_LIB_DIRS and NU_PLUGIN_DIRS should be in the book. Also, there shoud be reference to NU_LIB_DIRS here https://www.nushell.sh/book/thinking_in_nushell.html#think-of-nushell-as-a-compiled-language

[2022-07-04 20:37] kubouch opened #527 "Document passing arguments to externals better"
I've seen a lot of issues about external arguments, like this one: https://github.com/nushell/nushell/issues/5947.

We should have a page that documents all the ways you can call external with arguments (i.e., explaining that you can pass a list to an external as a list of arguments and that one long string with spaces will be considered as one argument).

[2022-07-04 22:59] WindSoilder commented on #527
Wow... That's what I meet and confused before

[2022-07-05 10:12] kubouch commented on #527
Also, you can run externals with `^$program-name`, that should be documented as well since it might not be obvious but it's very useful.

[2022-07-16 12:57] ammkrn opened #536 "Doc search should not show deprecated results"
### Describe the bug

The search feature in the book/docs returns misleading results about deprecated versions. If I search 'startup', the first result is [Startup commands (jonathandturner)](https://www.nushell.sh/blog/2020-04-21-nushell_0_13_0.html#startup-commands-jonathandturner), which is very outdated. The URL does indicate that this is old, but that's not part of the search result, and you

[2022-07-16 13:30] fdncred commented on #536
Transferred to docs repo, as it seems a better fit.

Excluding the deprecated commands shouldn't be that tricky as we just need to stop generating the md files for them. However, filtering out blogs may not be the best thing. I agree that they can contain outdated material but they also can contain good information. So, that's a tougher thing to deal with.

[2022-07-17 00:25] ammkrn commented on #536
@fdncred

Thanks for taking a look. It might be more intuitive if the search bar returned results from the book when the "book" tab is active, and results from the blog when that tab is active. Currently, the search prompt just says "search docs" regardless of what tab is active and returns results from any of them, which I think is unexpected for people used to cargo docs/mdbook stuff in the rust

[2022-07-17 18:29] fdncred commented on #536
That sounds interesting. We'd probably accept a PR for that functionality.

[2022-08-03 20:14] shift-d opened #551 "Pressing Enter on the documentation search result is broken"
# How to reproduce:
1. Open website
2. `<Ctrl-K>`
3. Type some query (PATH, for example)
4. Press `<Enter>`

# Result:
You are being redirected to the broken link: `https://www.nushell.sh/https:%2F%2Fwww.nushell.sh%2Fbook%2Fcommands%2Fpath.html`.
It seems that documentation search somehow appends the documentation link to the website domain.

# Expected behavior:
Same steps to reproduce, but inste

[2022-08-03 21:05] fdncred commented on #551
i was able to reproduce it - looks like the url is getting messed up somehow on enter.

[2022-08-12 11:59] hustcer commented on #551
It's a @vuepress/plugin-docsearch bug reported: https://github.com/vuepress/vuepress-next/issues/1024

[2022-08-15 09:48] Zoybean opened #556 "Defining rows and columns"
### Summary:
While it is not always presented visually as horizonal rows and vertical columns, in nu, table columns have named headers, and table rows have numbered headers.
It might be good to add a definition of rows and columns like this to the book, and possibly a reminder in the section mentioned below, for anyone else who may be confused by the use of "column" in that specific example.

###

[2022-08-17 17:10] amtoine opened #564 "The overlay section of the book appears out of date."
Hello there :wave: :yum:

i was reading the [overlay chapter](https://www.nushell.sh/book/overlays.html#preserving-definitions) and i noticed something strange :confused:

The book is talking about `overlay add --prefix` in ["Prefixed Overlays"](https://www.nushell.sh/book/overlays.html#prefixed-overlays) and about `overlay remove --keep` in ["Preserving definitions"](https://www.nushell.sh/book/o

[2022-08-17 17:36] kubouch commented on #564
The newest version is 0.67 and was released yesterday. That has the --prefix flag.

The --keep flag needs to be updated, I forgot about that.

[2022-08-18 09:10] amtoine commented on #564
i forgot to update my system... :eyes:
i can see the `--prefix` flag now in 0.67 :star_struck:

got it :yum:

[2022-08-18 09:16] kubouch commented on #564
The `--keep` flag still needs to be updated. If someone wants to update it, please go ahead.

[2022-08-18 09:26] amtoine commented on #564
is the update about changing `--keep` to `--keep-custom` in the book page? :yum:
that's the flag in the `overlay remove` command that seems to do the same as `--keep` in the book :+1:

[2022-08-18 09:29] kubouch commented on #564
Yeah, that. And also mention the new `--keep-env` flag.

[2022-08-18 09:50] amtoine commented on #564
i can propose something if that's a go for you :yum:

[2022-08-18 11:25] kubouch commented on #564
Yeah, sure, go ahead!

[2022-08-18 11:29] amtoine commented on #564
cool :+1:

[2022-08-19 00:16] Zoybean opened #566 "command name string clarification"
The custom commands section states

However this description may be misinterpreted as saying that commands can be called with a (possibly quoted) string as the command name, e.g. `ls | "my subcommand"`. Maybe it would be good to clarify here, or later in the custom commands section, that while commands can be defined with quoted-string names, they cannot be called that way.

[2022-08-19 01:41] fdncred commented on #566
I think this means that when defining a custom command you can do it like this.

[code]
or with quotes
[code]

That's my guess.

[2022-08-19 13:52] Zoybean commented on #566
Ah, apologies. That much was already clear to me. I'm just suggesting that the documentation could be improved so that it is no longer ambiguous to other readers.

[2022-08-19 18:33] fdncred commented on #566
ya, sure. unambiguous documentation is the goal. :)

[2022-08-23 08:00] amtoine commented on #564
this issue might have been closed with #565, right? :yum:

[2022-08-23 09:09] kubouch commented on #564
Yeah, true.

[2022-08-23 09:09] #564 closed

[2022-08-26 00:28] Jan9103 opened #575 "Html links to md files in book"
The page-tree on the left on https://www.nushell.sh/book/ (english!) redirects to (not existing) `.md` files instead of `.html`

I never worked with vuepress, but i suspect it might have to do with specifying file extensions in [the config.js](https://github.com/nushell/nushell.github.io/blob/main/.vuepress/config.js) since the cookbook, german-version, etc work just fine.

[2022-08-26 01:12] hustcer commented on #575
That's the way it works，does it break anything？

[2022-08-26 06:49] kubouch opened #576 "Fix variable names containing `-`"
Variables can no longer contain `-` but there are still some left in the book.

[2022-08-26 07:36] petrisch commented on #575
@Jan9103 The links are pointing to `.md` files, however for me they work. So I see what you mean, but I don't know either where this can lead to problems.

[2022-08-26 14:16] robations opened #578 "Potential for order-by / sort-by confusion"
`order-by` (database), `sort-by` (filters) and `sort-by` (lazyframe) are essentially synonyms, but in nushell are used in different contexts.

I suggest adding a note ("See also") to each page to indicate the difference between the two (three) commands.

Order-by returns a confusing error message in the wrong context and users may be otherwise unaware that `sort-by` also exists.

This would also h

[2022-08-27 03:51] pedromfedricci commented on #223
The accepted types are listed under the [Parameter types]( https://www.nushell.sh/book/custom_commands.html#parameter-types) section, but the list is not up to date. Maybe make this issue about updating them?

[2022-08-27 03:54] pedromfedricci commented on #223
If so: #580.

[2022-08-27 09:21] kubouch commented on #223
You're right, it's already document but out-of-date.

[2022-08-27 09:21] #223 closed

[2022-08-27 12:33] #566 closed

[2022-08-27 13:46] hustcer commented on #575
@Jan9103 Do you still have this issue now? It works fine for me

[2022-08-28 12:50] #551 closed

[2022-08-28 13:48] fdncred commented on #575
I didn't think those `md` files existed anywhere but on the repo. I thought when the website is built, it's built as a static website and only html is generated. So, if you wanted the markdown files, I believe you'd have to get them from the repo like this `fetch https://raw.githubusercontent.com/nushell/nushell.github.io/main/book/3rdpartyprompts.md`.

Am I wrong about this?

[2022-08-29 10:20] hustcer commented on #575
It doesn't matter at all, although the href may link to a md like:
[code]
However when you click the nav menu it will automatically redirect to https://www.nushell.sh/book/getting_started.html for me

[2022-08-29 10:20] #575 closed

[2022-08-29 10:22] hustcer commented on #575
BTW, if it fails sometimes guess that's due to some js hasn't been fully loaded and executed, just refresh and try again.

[2022-09-05 17:22] generic-github-user opened #593 "Improve documentation for def/custom command definition"
Some of the examples from the [page on custom commands](https://www.nushell.sh/book/custom_commands.html) may be worth adapting to help provide more comprehensive usage information in the documentation on the [`def`](https://www.nushell.sh/book/commands/def.html) statement; particularly those covering subcommand definitions, parameter types, default parameter values, etc. The command description i

[2022-09-07 08:43] petrisch opened #597 "show_banner: false doesn't have effect on 0.68"
With todays upgrade to 0.68 the

`
let-env config = {
  show_banner: false
}
`

doesn't work anymore.
I can't investigate it myself,
but i have my own value for `max_history_size` and that one works,
so the config gets somehow evaluated.

[2022-09-08 11:46] sholderbach opened #601 "Explain the role and rules for row conditions."

[2022-09-27 21:15] Shackelford-Arden commented on #77
@efx Happened upon this and thought that I'd note that your example using 0.41.0 doesn't seem to work anymore (running 0.68.1 here).

Running what you have above using 0.68.1 I get the following:

![image](https://user-images.githubusercontent.com/7362263/192636683-f1a8df9b-9f2f-4a30-aa14-0bfc6efe3d6a.png)

I played around a bit though and while not as elegant as `jq 'keys'` it does give similar r

[2022-10-01 03:15] whooie opened #617 "Prevent empty string from matching the current directory as a glob"
One can run `glob ""`, and the result will be the current directory. This is especially dangerous for commands like `rm` for obvious reasons. I think it would make much more sense for an empty string glob to match nothing.

[2022-10-01 03:29] whooie opened #618 "Add more descriptive parameter type specifications for custom commands"
When writing custom commands, I often find myself wanting the ability to specify that a command should take, specifically, a `list<float>` or a record with a certain set of fields, which could conceivably by written as something like `record<f1: float, f2: float>`. I know one could just use `describe` for this kind of thing, but that feels hacky and unnecessary in principle.

Relatedly, support fo

[2022-10-15 04:05] webbedspace opened #639 "Documentation: code snippets could be syntax-highlighted"
### Related problem

Consider as an example something like [Elvish's documentation](https://elv.sh/learn/tour.html#value-pipelines). There, the code snippets are syntax-highlighted in HTML to better aid reading comprehension.

### Describe the solution you'd like

If you can hook up a basic syntax-highlighting method, lining up with nushell's language, to whatever you use to generate the docs, tha

[2022-10-16 15:14] webbedspace opened #640 "Documentation: backtick strings should be mentioned in the string section"
### Describe the bug

I was going to suggest adding backtick strings (from JS), but apparently they already exist, and moreover seem to function the same as single-quotes except with the advantage that you can include single-quote characters inside them (which I believe is impossible for single-quote strings without interpolation). So, they deserve a mention.

Also, this is just an opinion of mine

[2022-10-16 15:20] sholderbach commented on #640
Feel free to add a respective section on them to the string literal section.
I think making them the idiomatic string is ill advised as they are not transferring expectations from shells and most programming languages that use quotes. Furthermore on many European keyboards backticks are deadkeys to support the accent grave and thus require two separate keypresses.

[2022-10-16 18:42] fdncred commented on #639
I'm wondering if we could do something like `some | pipe | line | nu-highlight | to html` to get some better syntax highlighting in markdown. I'm not sure html is even supported?

[2022-10-16 18:47] fdncred commented on #640
I've been documenting quotes with an eye towards changing how they work because I think we can probably handle quotes better. You can find this documentation [here](https://hackmd.io/yBEUx4czTMuHcTICt-xZAA?view).

[2022-10-23 17:07] DannyJJK commented on #294
I noticed this recently because I started using an RSS feed reader and I have all my URLs listed in a file. I try to keep the URLs tidy so I remove `www.`, which on some websites will end up redirecting to the `www.` anyway, but I noticed that the Nushell RSS feed wasn't resolving. I worked out this was because I was missing the `www.`, but Nushell is the only website in my list that requires `www

[2022-11-04 21:08] josephburnett opened #658 "Book PDF"
I want to read the book! But it's hard for me to read on a computer (I keep getting distracted). I would really like to download a rendered PDF copy onto my reader. However there doesn't appear to be one! Can you help me out?

[2022-11-04 21:10] kubouch commented on #658
If I remember correctly, @hustcer made an ebook a while ago.

[2022-11-04 21:16] rgwood commented on #658
Yeah I think the PDF+ePub versions are here: https://github.com/hustcer/open-books

Might be a little out of date, looks like they haven't been updated in a while.

[2022-11-04 21:28] josephburnett commented on #658
Well a little out of date is better than nothing. Thanks!

[2022-11-04 21:40] kubouch commented on #658
You could reach out to hustcer and ask how he did it, it shouldn't be too hard to generate.

[2022-11-05 02:17] hustcer commented on #658
I will update the latest PDF book around the next Nu release

[2022-11-05 21:27] josephburnett commented on #658
Thanks!

Might be worth adding a Makefile (or nushell script) to regenerate and upload to Github releases. Then you can just reference the latest release in the website.

[2022-11-08 12:14] #640 closed

[2022-11-13 07:17] thara opened #670 "Invalid octal binary literals"
I found invalid octal binary literals `0o[777]`In [Binary data section in Types of Data page](https://www.nushell.sh/book/types_of_data.html#binary-data).

actual result in Nu 0.68.1 is below:

[code]

It seems to the parser restricts values by radix for parsing binary literals.
(On the other hand, octal integer literals is not restricted by radix)
https://github.com/nushell/nushell/blob/c1105e945

[2022-11-18 11:50] fdncred opened #672 "Add documentation for `Value::Closure`"
We need to add documentation for `Value::Closure` and explain the difference to `Value::Block`

[2022-11-25 11:19] probablySophie opened #682 "Add alternative sugguestion to error for &&"
`command_A && command_B` is probably going to be a typical attempt people make to run sequential commands, but nushell uses `command_A; command_B`.  As a shell that prides itself on its error messaging I feel the error message should probably suggest using `;` instead of the current `executable was not found`

[2022-11-27 00:12] sholderbach commented on #670
Thanks for catching that.
Might be worth opening an issue on nushell to add a helpful error message when exceeding `0o[377]`.

Didn't even know that pre-commit hook existed.
I went ahead and split that up.

[2022-11-27 00:15] #670 closed